.main-bodyin{"data-message-id": "#{message.id}"}
 .main-bodyin__box
  .main-bodyin__box-name
   = message.user.name
  .main-bodyin__box-time
  = message.created_at.strftime("%Y/%m/%d %H:%M")
 .main-bodyin__message
  - if message.content.present?
   %p.lower-message__content
    = message.content
  = image_tag message.image, class: 'lower-message__image' if message.image.present?
 
