.all
 .side
  = render partial: "side-top"
  = render partial: "side-buttom"
 .main
  = render partial: "main-top" , locals: { group: @group }
  .main-body 
   = render @messages
  = render partial: "main-footer"