.all
 .side
  = render partial: "side-top"
  = render partial: "side-buttom"
 .main
  = render partial: "main-top"
  = render partial: "main-body"
  = render partial: "main-footer"
     
  
    
   
    
   


